@model List<Lanco_Project.Models.ContactoModel>

@{
    ViewBag.Title = "Contactos";
}

<h2>Contactos</h2>

<div class="card">
    <div class="card-body">
        @Html.Partial("_AddContactPartialView", new Lanco_Project.Models.ContactoModel())
        <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddContact">Crear Nuevo</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdContact</td>
                        <td>@item.Name</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>
                            @Html.Partial("_EditContactPartialView", item)
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#EditContact-@item.IdContact">Editar</button>
                            @Html.Partial("_DeleteContactPartialView", item)
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteContact-@item.IdContact">Eliminar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Session["Message"] != null)
{
    @Html.Partial("_ValidationPartialView")
}

