@model Lanco_Project.Models.CConstructionSite

<div class="modal fade" id="AddConstructionSiteModal" tabindex="-1" aria-labelledby="AddConstructionSiteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddConstructionSiteModalLabel">Alta de la Obra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("AddConstructionSite", "Catalogs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body" id="div_AddConstructionSite">
                    <div class="mb-1">
                        <label class="form-label">Nombre de la Obra</label>
                        @Html.EditorFor(model => model.ConstructionSiteName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConstructionSiteName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Estatus</label>
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCloseAddConstructionSite" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clear_inputs('div_AddConstructionSite');">Cerrar</button>
                    <button id="btnAddConstructionSite" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}