@model Lanco_Project.Models.CRoutes

<div class="modal fade" id="AddRouteModal" tabindex="-1" aria-labelledby="AddRouteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddRouteModalLabel">Alta de Rutas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("AddRoute", "Catalogs", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body" id="div_AddRoutes">
                    <div class="mb-1">
                        <label class="form-label">Nombre de la Ruta</label>
                        @Html.EditorFor(model => model.RouteName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RouteName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Estatus de la Ruta</label>
                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-check-input" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCloseAddRoutes" type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clear_inputs('div_AddRoutes');">Cerrar</button>
                    <button id="btnAddRoutes" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}